<ion-header translucent>
  <ion-toolbar color="danger">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="dark">

    <ion-item color="dark" *ngFor="let poke of pokemon" [routerLink]="'/exibir-pokemon/' + poke.pokeIndex">
      <ion-chip slot="start">
        <ion-label color="light">{{poke.pokeIndex}}</ion-label>
      </ion-chip>
      <ion-label>
        <div>
          <h2>{{poke.name}}</h2>
          <ion-badge></ion-badge>
          <ion-badge></ion-badge>
        </div>
      </ion-label>
      <ion-thumbnail slot="end">
        <img [src]="poke.imagem">
      </ion-thumbnail>
    </ion-item>

 <ion-footer>
   <ion-toolbar color="danger" class="ion-text-center">
    
   </ion-toolbar>
 </ion-footer>

</ion-content>